#blogBannerContainer {
  height: 200px;
}

a {
  text-decoration: none;
  color: black;
}

#blogBanner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  font-family: "Annapurna SIL", serif;
  font-size: 80px;
}

#sortAndFilter div {
  display: grid;
  grid-template-columns: auto 120px 120px 250px;
}

.sfButton {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

#deco2 {
  margin-top: 0px;
  margin-bottom: 100px;
}

#blogPosts {
  width: 80%;
  margin: auto;
  min-height: 500px;
  display: grid;
  gap: 20px;
  grid-template-rows: 200px 200px;
  grid-auto-rows: 200px 200px;
}

.blogPost {
  border: 1px solid;
  display: grid;
  grid-template-columns: 200px auto;
}

.blogPost img {
  max-height: 100%;
  max-width: 200px;
}

.post {
  width: calc(100% - 100px);
}

.postTitle {
  font-family: "Miriam Libre", sans-serif;
  font-size: 30px;
  margin: 20px;
  margin-bottom: 0px;
  width: fit-content;
  color: black;
}

.summary {
  font-family: "Miriam Libre", sans-serif;
  font-size: 20px;
  margin: 20px;
  margin-top: 10px;
  color: rgb(50, 50, 50);
}
